<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        <li class="page-item" id="web">
            <a class="page-link" href="#">Web development</a>
        </li>
        <li class="page-item" id="python">
            <a class="page-link" href="#">Python Programming</a>
        </li>
        <li class="page-item" id="graphic">
            <a class="page-link" href="#">Graphic design</a>
        </li>
    </ul>
  </nav>
</div>

<div class="container">
    <table class="table table-bordered table-hover text-center container webdev">
        <thead class="thead-dark">
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">Assignment</th>
                <th scope="col">Download</th>
                <th scope="col">Submit in this link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>HTMl assignment - 1</td>
                <td><a href="/static/assignments/HTML/Web Assignment-1.pdf" download="HTMl assignment - 1">click here to dowload</a></td>
                <td><a href="https://forms.gle/7v2QAhwygG4A3M9F8">upload here</a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>HTML assignment - 2</td>
                <td><a href="/static/assignments/HTML/Web Assignment-2.pdf" download="HTMl assignment - 2">click here to dowload</a></td>
                <td><a href="https://forms.gle/M6HLKmTr2LTqfQgB7">upload here</a></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>HTML assignment - 3</td>
                <td><a href="/static/assignments/HTML/Web Assignment-3.docx" download="HTMl assignment - 3">click here to dowload</a></td>
                <td><a href="https://forms.gle/vm3TVde6DLTCQPRJ9">upload here</a></td>
            </tr>
        </tbody>
    </table>
<table class="table table-bordered table-hover text-center container py">
    <thead class="thead-dark">
        <tr>
            <th scope="col">S.No</th>
            <th scope="col">Assignment</th>
            <th scope="col">Download</th>
            <th scope="col">Submit in this link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Python assignment - 1</td>
            <td><a href="/static/assignments/python/Python-Assignment-1.pdf" download="Python-Assignment-1">click here to dowload</a></td>
            <td><a href="https://forms.gle/uQwVAmyBTZcDZqxx6">upload here</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Python assignment - 2</td>
            <td><a href="/static/assignments/python/Python-Assignment-2.pdf" download="Python-Assignment-2">click here to dowload</a></td>
            <td><a href="https://forms.gle/UJCffMF6GqiQdzeM8">upload here</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Python assignment - 3</td>
            <td><a href="/static/assignments/python/Python-Assignment-3.pdf" download="Python-Assignment-3">click here to dowload</a></td>
            <td><a href="https://forms.gle/cwYpmjAD831YQRDTA">upload here</a></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Python assignment - 4</td>
            <td><a href="/static/assignments/python/Python-Assignment-4.pdf" download="Python-Assignment-4">click here to dowload</a></td>
            <td><a href="https://forms.gle/4ip9jEcJK76kdhoW7">upload here</a></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Python Contest</td>
            <td><a href="/static/assignments/python/Python-Contest.pdf" download="Python-Contest">click here to dowload</a></td>
            <td><a href="https://forms.gle/r5YcCCLjzGWX2usW8">upload here</a></td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-hover text-center container graphic-design">
    <thead class="thead-dark">
        <tr>
            <th scope="col">S.No</th>
            <th scope="col">Assignment</th>
            <th scope="col">Download</th>
            <th scope="col">Submit in this link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Graphic assignment - 1</td>
            <td><a href="/static/assignments/python/Python-Assignment-1.pdf" download="Python-Assignment-1">click here to dowload</a></td>
            <td><a href="https://forms.gle/r5YcCCLjzGWX2usW8">upload here</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Graphic assignment - 2</td>
            <td><a href="/static/assignments/python/Python-Assignment-2.pdf" download="Python-Assignment-2">click here to dowload</a></td>
            <td><a href="https://forms.gle/r5YcCCLjzGWX2usW8">upload here</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Graphic assignment - 3</td>
            <td><a href="/static/assignments/python/Python-Assignment-3.pdf" download="Python-Assignment-3">click here to dowload</a></td>
            <td><a href="https://forms.gle/r5YcCCLjzGWX2usW8">upload here</a></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Graphic Contest</td>
            <td><a href="/static/assignments/python/Python-Contest.pdf" download="Python-Contest">click here to dowload</a></td>
            <td><a href="https://forms.gle/r5YcCCLjzGWX2usW8">upload here</a></td>
        </tr>
    </tbody>
</table>
</div>



