<div class="container d-flex flex-wrap flex-column align-items-center">
    <div class="text-center">
        <h2 class="text-center">Courses available in kindle</h2><br>
    </div>
    <div class="kindle-container d-flex flex-row flex-wrap justify-content-between align-items-center" style="width: 100%;"> 
        <a href="#">
            <div class="card card-level">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ3vRNrVmdjYY0C0uOkSAkT7N4mT4J5NBhl0w&usqp=CAU" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Web development</p>
                    <div class="row">
                    <div class="col">
                        <h6><i class="fa fa-list-alt" aria-hidden="true"></i> Levels:4</h6>
                    </div>
                    <div class="col">
                        <h6><i class="fa fa-clock-o" aria-hidden="true"></i>Hours:30</h6>
                    </div> 
                </div>
                </div>
                
            </div>
        </a>
        <a href="#">
            <div class="card card-level">
                <img class="card-img-top" src="/static/images/data-science.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Data Science</p>
                    <div class="row">
                    <div class="col">
                        <h6><i class="fa fa-list-alt" aria-hidden="true"></i> Levels:4</h6>
                    </div>
                    <div class="col">
                        <h6><i class="fa fa-clock-o" aria-hidden="true"></i>Hours:30</h6>
                    </div> 
                </div>
                </div>
                
            </div>
        </a>
        <a href="/users/userhome/kindle/web">
            <div class="card card-level">
                <img class="card-img-top" src="/static/images/graphic-design.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Graphic Design</p>
                    <div class="row">
                    <div class="col">
                        <h6><i class="fa fa-list-alt" aria-hidden="true"></i> Levels:4</h6>
                    </div>
                    <div class="col">
                        <h6><i class="fa fa-clock-o" aria-hidden="true"></i>Hours:30</h6>
                    </div> 
                </div>
                </div>
            </div>
        </a>
    </div>
    <div class="enrolled">
        <h2>Courses Enrolled</h2><br>
    </div>
    <div class="kindle-container d-flex flex-row align-items-start flex-wrap">
        <a href="/users/userhome/kindle/web">
            <div class="card card-level">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ3vRNrVmdjYY0C0uOkSAkT7N4mT4J5NBhl0w&usqp=CAU" alt="Card image cap">
                <div class="card-body  border border-danger">
                    <p class="card-text">Web development</p>
                    <div class="row">
                    <div class="col">
                        <h6><i class="fa fa-list-alt" aria-hidden="true"></i> Levels:4</h6>
                    </div>
                    <div class="col">
                        <h6><i class="fa fa-clock-o" aria-hidden="true"></i>Hours:30</h6>
                    </div> 
                </div>
                </div>    
            </div>
        </a>
    </div>
</div>