/*assignments*/
.webdev
{
    display: none;
}
.py{
    display: none;
}
.graphic-design{
    display: none;
}

.kindle-container a{
    text-decoration: none;
    color: black;
}
.card-level{
    margin-bottom: 2rem;
}
.card-level:hover{
    border: 2px solid black;
    box-shadow: 0 0 5px black;
}
